/* wrapper */
.sort-order-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* label */
.sort-order-dropdown > span {
  width: 86px;
  font-family: Vazirmatn;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: var(--DCDFE3-color-color);
}

/* button */
.dropdown-btn {
  width: 149px;
  height: 40px;
  background-color: var(--FFFFFF-color);
  border: 1px solid var(--DCDFE3-color);
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Vazirmatn;
  font-size: 16px;
  color: var(--9BA1A8-color);
}

/* arrow */
.dropdown-arrow {
  width: 24px;
  height: 24px;
  transition: transform 0.5s ease;
  transform: rotate(0deg);
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

/* dropdown menu (ANIMATED) */
.dropdown-menu {
  width: 149px;
  position: absolute;
  top: 100%;
  left: 0;

  background-color: var(--FFFFFF-color);
  border: 1px solid var(--DCDFE3-color);
  border-radius: 6px;
  margin-top: 4px;

  z-index: 10;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  overflow: hidden;

  /* animation base */
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.5s ease;

  pointer-events: none;
}

/* open state */
.dropdown-menu.open {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* items */
.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  text-align: center;
  transition: background 0.2s;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.dropdown-item.active {
  background-color: #e0e0e0;
  font-weight: 500;
}

/* responsive */
@media (max-width: 464px) {
  .sort-order-dropdown {
    width: 100%;
  }

  .dropdown-btn {
    width: 75%;
  }
}
