.dashbord {
  width: 816px;
  height: 120px;
  gap: 24px;
  opacity: 1;
  display: flex;
  align-items: center;
  border-radius: 16px;
  background-color: var(--FFFFFF-color);
}
.dashbord > p {
  font-family: Vazirmatn;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: var(--242D35-color);
  padding: 0 24px;
}
