.donut-chart-wrapper {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
  direction: rtl;
  width: 100%;
  font-family: Vazirmatn;
}

.donut-chart-wrapper h3 {
  margin-bottom: 12px;
  color: #333;
  font-size: 1.2rem;
  font-family: Vazirmatn;
}

@media (max-width: 600px) {
  .donut-chart-wrapper {
  }
  .donut-chart-wrapper h3 {
    font-size: 1rem;
  }
}
