.div-Home > .div-First > table {
  width: 100%;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.div-Home > .div-First > table > thead {
  font-family: Vazirmatn;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: var(--242D35-color);
  border-bottom: 1px solid var(--A0CCF8-color);
}

th,
td {
  word-wrap: break-word;
}

tr {
  display: grid;
  grid-template-areas: 'grid-Date grid-Income grid-Cost grid-Description grid-trash';
  grid-template-columns: repeat(3, 23%) 27% 4%;
  padding: 1rem 4px;
}

.grid-Date {
  grid-area: grid-Date;
}
.grid-Income {
  grid-area: grid-Income;
}
.grid-Cost {
  grid-area: grid-Cost;
}
.grid-Description {
  grid-area: grid-Description;
}

.hide-on-mobile {
  display: table-cell;
}

.grid-trash {
  grid-area: grid-trash;
  width: 25px;
}

.grid-trash > img {
  width: 24px;
  height: 24px;
}

.div-Home > .div-First > .header-list > table > tbody {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
/* سلول ها
 */
.td-Date,
.td-Income,
.td-Cost {
  font-family: Vazirmatn;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: right;
}

.td-Description {
  font-family: Vazirmatn;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: right;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.td-Date,
.td-Description {
  color: var(--242D35-color);
  text-wrap: wrap;
  word-break: break-word;
}

.td-Income {
  color: var(--3EBD93-color);
}

.td-Cost {
  color: var(--EF4E4E-color);
}

#text-Cost {
  display: none;
}

/* Responsive */
@media (max-width: 600px) {
  #text-Cost {
    display: flex;
  }
  span {
    display: flex;
  }

  .div-First > table > thead,
  .div-First > table > thead > tr {
    display: none;
  }

  .hide-on-mobile {
    display: none;
  }

  .show-on-mobile {
    grid-area: show-on-mobile;
    display: flex;
    justify-content: flex-end;
  }

  .div-First > table > tbody > tr {
    display: grid;
    grid-template-areas: 'grid-Date show-on-mobile' 'grid-Description grid-trash';
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    padding: 14px 16px;
    background-color: var(--FAFAFB-color);
    opacity: 1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  .grid-trash {
    justify-self: flex-end;
  }
  .filter-sort-toolbar {
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
}
@media (max-width: 464px) {
  .sort-controls {
    width: 100%;
  }
}
