table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  font-family: Vazirmatn;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: right;
  color: var(--242D35-color);
  border-bottom: 1px solid var(--A0CCF8-color);
}

th,
td {
  word-wrap: break-word;
}
tr {
  display: grid;
  grid-template-areas: "grid-Date grid-Income grid-Cost grid-Description";
  grid-template-columns: repeat(3, 23%) 31%;
  padding: 1rem 4px;
}
.grid-Date {
  grid-area: grid-Date;
}
.grid-Income {
  grid-area: grid-Income;
}
.grid-Cost {
  grid-area: grid-Cost;
}
.grid-Description {
  grid-area: grid-Description;
}
.hide-on-mobile {
  display: table-cell;
}

tbody {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
span {
  display: none;
}
@media (max-width: 600px) {
  span {
    display: flex;
  }

  thead {
    display: none;
  }
  .hide-on-mobile {
    display: none;
  }
  .show-on-mobile {
    grid-area: show-on-mobile;
    display: flex;
    justify-content: end;
  }
  tr {
    grid-template-areas: "grid-Date show-on-mobile " "grid-Description grid-Description";
    grid-template-columns: repeat(2, 1fr);

    border-radius: 8px;
    padding-top: 14px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
    gap: 10px;
    opacity: 1;
    background-color: var(--FAFAFB-color);
  }
}
