:root {
  --FFFFFF-color: rgba(255, 255, 255, 1);
}
.div-Home {
  width: 768px;
  border-radius: 16px;
  padding-top: 36px;
  padding-right: 24px;
  padding-bottom: 36px;
  padding-left: 24px;
  gap: 24px;
  opacity: 1;
  background-color: var(--FFFFFF-color);
}
