@import url('vazirmatn.css');
:root {
  --DCDFE3-color: rgba(220, 223, 227, 1);
  --242D35-color: rgba(36, 45, 53, 1);
  --3EBD93-color: rgba(62, 189, 147, 1);
  --EF4E4E-color: rgba(239, 78, 78, 1);
  --6B7580-color: rgba(107, 117, 128, 1);
  --A0CCF8-color: rgba(160, 204, 248, 1);
  --FAFAFB-color: rgba(250, 250, 251, 1);
  --FFFFFF-color: rgba(255, 255, 255, 1);
  --000000-color: rgba(0, 0, 0, 1);
  --0E33F3-color: rgba(14, 51, 243, 1);
  --9BA1A8-color: rgba(155, 161, 168, 1);
}
body {
  direction: rtl;
  background-color: var(--DCDFE3-color);
  /* height: 100vh; */
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 90px;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.cursor-pointer {
  cursor: pointer;
} /* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
/* Chrome, Safari, Edge */
input[type='date']::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none !important;
}

/* Firefox */
input[type='date'] {
  -moz-appearance: textfield !important;
}

/* Internet Explorer */
input[type='date']::-ms-clear,
input[type='date']::-ms-expand {
  display: none;
  width: 0;
  height: 0;
}
h4 {
  margin: 0;
}
@media (max-width: 600px) {
  #root {
    height: auto;
  }
  .container {
    margin: 78px 16px;
  }
}
