.modal-Delete {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.modal-Delete > #title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-Delete > #title > #CloseIconM {
  display: none;
}
.modal-Delete > #title > #CloseIconD,
.modal-Delete > #title > #CloseIconM {
  width: 22px;
  height: 22px;
}
.modal-Delete > #title > p {
  font-size: 1rem;
  color: var(--242D35-color);
  font-family: Vazirmatn;
}
.modal-Delete > #buttons {
  gap: 8px;
  display: flex;
  justify-content: end;
}
.modal-Delete > #buttons > #submit > span {
  color: var(--FFFFFF-color);
}
.modal-Delete > #buttons > #submit {
  box-shadow: 0px var(--ComponentsButtonGlobalcontrolOutlineWidth) 0px 0px
    var(--ComponentsButtonGlobalcontrolOutline);
  border: 1px solid var(--FFFFFF-color);
  border-radius: 8px;
  background-color: var(--EF4E4E-color);
}

.modal-Delete > #buttons > #cansel > span {
  color: var(--242D35-color);
}
.modal-Delete > #buttons > #cansel {
  box-shadow: 0px var(--ComponentsButtonGlobalcontrolOutlineWidth) 0px 0px
    var(--ComponentsButtonGlobalcontrolOutline);
  border: 1px solid var(--DCDFE3-color);
  border-radius: 8px;
  background-color: var(--FFFFFF-color);
}
.modal-Delete > #buttons > #submit,
.modal-Delete > #buttons > #cansel {
  padding: 8px 16px;
  font-family: Vazirmatn;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
}
@media (max-width: 600px) {
  .modal-Delete > #title > #CloseIconD {
    display: none;
  }
  .modal-Delete > #title > #CloseIconM {
    display: flex;
  }
  .modal-Delete > #title {
    flex-direction: column;
    justify-content: center;
  }
  .modal-Delete > #buttons {
    justify-content: center;
  }
}
